.about {
display: flex;
flex-direction: column;    
}

.about__text {
max-height: 110px;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.2px;    
}

.about__text p {
margin: 0 0 20px;    
}

.about__wrapper {
padding: 0 16px;    
}