.header__inner{
display: flex;
align-items: center;

min-height: 88px;
padding: 0 16px;
background-color: white;

@media (min-width: 768px){
padding: 0 0 0 24px;    
}
}

.header {
@media (min-width: 1366px) {
display: none;    
}    
}