.page-nav {
position: relative;
margin: 0 0 24px;
padding: 0 16px;   
overflow: hidden; 
 @media (min-width: 320px) {
    padding: 0 24px;
 }
}

.page-nav__list {
display: flex;
flex-wrap: nowrap;
align-items: center;
width: 100%;
min-height: 48px;
margin: 0;
padding: 4px 0;
list-style: none;    
}

.page-nav__item {
   &:not(:last-child) {
    margin-right: 8px;
   }
}